services:
  datastore1:
    image: 'hanzoai/datastore-server:${DATASTORE_VERSION-latest}'
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    hostname: datastore1
    container_name: datastore-node-1
    environment:
      DATASTORE_SKIP_USER_SETUP: 1
    ports:
      - '8124:8123'
      - '9002:9000'
      - '9181:9181'
    volumes:
      - './.docker/datastore/cluster/server1_config.xml:/etc/clickhouse-server/config.xml'
      - './.docker/datastore/cluster/server1_macros.xml:/etc/clickhouse-server/config.d/macros.xml'
      - './.docker/datastore/users.xml:/etc/clickhouse-server/users.xml'

  datastore2:
    image: 'hanzoai/datastore-server:${DATASTORE_VERSION-latest}'
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    hostname: datastore2
    container_name: datastore-node-2
    environment:
      DATASTORE_SKIP_USER_SETUP: 1
    ports:
      - '8125:8123'
      - '9001:9000'
      - '9182:9181'
    volumes:
      - './.docker/datastore/cluster/server2_config.xml:/etc/clickhouse-server/config.xml'
      - './.docker/datastore/cluster/server2_macros.xml:/etc/clickhouse-server/config.d/macros.xml'
      - './.docker/datastore/users.xml:/etc/clickhouse-server/users.xml'

  proxy:
    image: 'hanzoai/datastore-proxy:${DATASTORE_VERSION-latest}'
    hostname: proxy
    ports:
      - '8123:8123'
      - '9000:9000'
    volumes:
      - './.docker/nginx/http.conf:/etc/nginx/conf.d/http.conf'
      - './.docker/nginx/tcp.conf:/etc/nginx/conf.d/tcp.conf'
      - './.docker/nginx/nginx.conf:/etc/nginx/nginx.conf'
    container_name: datastore-proxy
