name: release

permissions: write-all

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
          token: ${{ secrets.GH_PAT }}

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25

      - name: Prepare release
        id: release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          go run internal/cmd/release/main.go

      - name: Commit And Push Changes
        run: |
          git config --local user.email "ci@hanzo.ai"
          git config --local user.name "Hanzo CI"
          git add .
          git commit -m "Update release notes"
          git push

      - name: Publish Draft Release
        env:
          RELEASE_API_URL: ${{ steps.release.outputs.RELEASE_URL }}
        run: |
            curl -X PATCH -H "Authorization: token ${{ secrets.GH_PAT }}" -H "Accept: application/vnd.github.v3+json" $RELEASE_API_URL -d '{"draft": false}'
