name: Tests cloud

permissions: write-all

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    types: [opened, labeled, synchronize, reopened]

jobs:
  test:
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch' || (github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'tests:run-cloud'))
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        go:
          - "1.25"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Go ${{ matrix.go }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      - name: Tests
        env:
          DATASTORE_USE_DOCKER: false
          DATASTORE_USE_SSL: true
          DATASTORE_HOST: ${{ secrets.HANZO_DATASTORE_HOST }}
          DATASTORE_PASSWORD: ${{ secrets.HANZO_DATASTORE_PASSWORD }}
          DATASTORE_JWT: ${{ secrets.HANZO_DATASTORE_JWT }}
          TESTCONTAINERS_RYUK_DISABLED: "true"
          GOTOOLCHAIN: "local"
        run: |
          DATASTORE_DIAL_TIMEOUT=20 DATASTORE_TEST_TIMEOUT=600s DATASTORE_QUORUM_INSERT=2 make test
